body{
    background: #e5d3ff;
}

h1{
    font-size: 35px;
    padding: 20px 0;
    color: #423453;
}

h2{
    color: #423453;
}

.currency_list{
    width: 150px;
    margin: 20px 0;
    border: none;
}

.list_item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #423453;
    padding: 10px 15px;
    background: #f3feff;
    color: #212121;
}

select{
    padding: 10px;
    background: #f3feff;
    border: 2px solid #423453;
}

.currency_hidden{
    display: none;
}

#currency_search{
    margin: 15px 0;
}

.currency_table{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: none;
}

.table_row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_column_block{
    width: 100%;
    border: 1px solid #423453;
    background: #f3feff;
}

.table_column{
    display: flex;
    justify-content: center;
    padding: 10px 25px;
}

.currency_chart{
    margin: 25px 50px;
    background: #f3feff;
}

.preload{
    background-image: url('../img/preload.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    to{
        transform: rotate(-360deg);
    }
}