@media screen and (min-width: 1200px){

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .currency_table{
        grid-template-columns: repeat(1, 1fr);
    }

    .table_row{
        flex-direction: row;
        align-items: baseline;
    }

    .currency_chart {
        margin: 25px 0;
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 560px) {

}

